.backgroundDiv{
    height: 30vh;
    display: flex;
    align-items: center;
    background-color: #E8E8E8;
}

.registerDiv{    
    height: 265px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 1px black;
    border-radius: 25px;    
    font-size: 13px;
    margin-right: 10px;
}

.registerDiv2 {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 23px;
    width: 250px;
    border-radius: 25px;
    text-indent: 10px;
}

.registerDiv3 {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.registerForm{    
    height: 800px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    border: solid 1px black;
    border-radius: 25px;    
}

.registerForm input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    text-indent: 10px;
}

.registerForm button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.memberPwMessage {
    color: red;
    width: 300px;
    height: 20px;
    font-size: small;
    display: flex;
    justify-content: space-around;
    align-items: center;
}