.title{
  font-size: 20px;
  width:794px;
  height:30px;
  font-size:12px;
  border-color: rgb(196, 233, 255);
  border-width: 1px;
  background-color: rgb(196, 233, 255);
}
.content{
  resize: none;
  font-size:12px;
  border-color: rgb(196, 233, 255);
  border-width: 3px;
  background-color: rgb(196, 233, 255);
  
}

.btn{
  margin-left: 3px;
  margin-top: 3px;
  background: rgb(167, 218, 248);
  cursor:pointer;
  border:0px;
  border-radius:10px;
  font-size: 15px;
}

.btn2{
  margin-left: 665px;
  background: rgb(167, 218, 248);
  cursor:pointer;
  border:0px;
  border-radius:10px;
  font-size: 15px;
}

.g{
  background-color:rgb(196, 233, 255);
}