.backgroundDiv{
  height: 100vh;
  display: flex;
  flex-direction: column; /*수평 정렬*/
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
}

.registerDiv{    
  height: 1050px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /*수평 정렬*/
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
  border: solid 1px black;
  border-radius: 25px;    
}

.registerDiv input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  text-indent: 10px;
}

.registerDiv button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
}


.profileDiv{    
  height: 850px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /*수평 정렬*/
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
  border: solid 1px black;
  border-radius: 25px;    
}

.profileDiv input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  text-indent: 10px;
}

.profileDiv button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
}